# Data Science Tools and Ecosystem

### In this Notebook, data science and ecosystem are summarized

### __Objectives:__
* Java
* Julia
* SQL
* Scala
* R

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. C++
6. Javascript

#### Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Tensorflow
- Pytorch

###
| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

##### This will convert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335

## Author
Santiago Cardona Lopez